{% extends 'base.html' %}

{% block content %}



<!-- Individual post -->
<div class="container pt-4">
    <!-- Go back arrow -->
    <a href="{% url 'home' %}" aria-label="go back home" class="ps-4">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <div class="row m-3">

        <p class="mb-0">Posted by <strong>{{post.author}}</strong></p>
        <p>{{post.created_on}}</p>


        <p><strong>{{ post.title }}</strong></p>
        <p>{{ post.content | safe }}</p>

    </div>
    <!-- Count of likes and comments -->
    <div class="row m-3">
        <div class="col-12">
            <span><i class="fa-regular fa-thumbs-up"></i></span>
            <span class="ps-4"><i class="fa-regular fa-comment"></i> {{ comment_count }}</span>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Comments -->
    <div class="row m-3">
        {% for comment in comments %}
        <div class="comment-container my-3">
            <div class="pt-3">
                <p>
                    <span><strong>{{ comment.author }}</strong></span> on {{ comment.created_on }}
                </p>
            </div>
            <div id=" comment{{ comment.id }}">
                {{ comment.body | linebreaks }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}