{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}


<!-- Individual post display -->
<div class="container container-white pt-4">
    <!-- Go back arrow -->
    <a href="{% url 'home' %}" aria-label="go back home" class="ps-4">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
    <div class="row m-3">
        <p class="mb-0">Posted by <strong>{{post.author}}</strong></p>
        <p>{{post.created_on}}</p>
        <p><strong>{{ post.title }}</strong></p>
        <p>{{ post.content | safe }}</p>
    </div>

    <!-- Likes and comments section -->
    <div class="row m-3">
        <!-- Like button and count -->
        <div class="col-4 col-md-2 col-lg-1">
            <span class="like">
                <form method="post" action="{% url 'post_detail' post.slug %}">
                    {% csrf_token %}
                    <button type="submit" name="like" class="btn-like">
                        {% if is_liked %}
                        <i class="fa-solid fa-thumbs-up btn-liked"></i> {{ post.likes.count }}
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i> {{ post.likes.count }}
                        {% endif %}
                    </button>
                </form>
            </span>
        </div>
        <!-- Comment count -->
        <div class="col-4 col-md-2 col-lg-1">
            <span><i class="fa-regular fa-comment"></i> {{ comment_count }}</span>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Add comment -->
    <div class="row m-3">
        {% if user.is_authenticated %}
        <form id="commentForm" method="post" class="form-inline">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button id="submitButton" type="submit" class="btn btn-primary">Add</button>
        </form>
        {% else %}
        <p><strong>You are not logged in. Please <a class="link signup-link" href="{% url 'account_login' %}">log in
                </a>to comment!</strong></p>
        {% endif %}
    </div>
    <!-- Added comments -->
    <div class="row m-3">
        {% for comment in comments %}
        <div class="comment-container my-3">
            <div class="pt-3">
                <p>
                    <span><strong>{{ comment.author }}</strong></span> on {{ comment.created_on }}
                </p>
            </div>
            <div id=" comment{{ comment.id }}">
                {{ comment.body | linebreaks }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}