/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background: url("../images/background_wave.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #3a3b3c;
    font-family: "Lato",
        sans-serif;
}

.navbar {
    background-color: #374955;
}

a {
    color: inherit;
}

.footer {
    background-color: #f9f871;
}

i {
    font-size: 150%;
}

.copy {
    font-size: 100%;
}

.pagination>li>a {
    background-color: white;
    color: #3a3b3c;
}

.page-link {
    color: #3a3b3c !important;
}

.page-item.active .page-link {
    background-color: #3a3b3c !important;
    color: white !important;
    border-color: #3a3b3c !important;
}

.post-link {
    text-decoration: none;
}

.container {
    background-color: white !important;
    border-radius: 20px;
}

.btn-primary {
    background-color: #ef6c94;
    border-color: #ef6c94;
}

.btn-primary:hover {
    background-color: #ec4a7b;
    border-color: #ec4a7b;
}

.signup-link {
    color: #ec4a7b;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.pink-text {
    color: #ec4a7b;
}

.comment-container,
.form-control {
    background-color: #f4f7f7b9 !important;
    border-radius: 10px !important;
    border-color: #f4f7f7 !important;
}

.fa-comment {
    font-size: 18px;
}